Source: scopy
Section: games
Priority: extra
Maintainer: Marco Scarpetta <marcoscarpetta@mailoo.org>
Build-Depends: cdbs, debhelper (>= 7), python, python-support (>= 0.90)
Standards-Version: 3.9.2
Vcs-Bzr: https://code.launchpad.net/~scopy.team/scopy/scopy

Package: scopy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-gobject, libgtk-3-0, gir1.2-clutter-1.0, gir1.2-gtkclutter-1.0, python-gi-cairo
Description: The classic italian card game called Scopa
